<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:href="@{/admin/branch/create}"><span
        class="glyphicon glyphicon-pencil"></span>Create</a>

<th:block th:if="${#lists.isEmpty(branch)}">
    <h3>No branch</h3>
</th:block>

<th:block th:unless="${#lists.isEmpty(branch)}">
    <table border="1">
        <tr>
            <th>STT</th>
            <th>Mã</th>
            <th>Tên</th>
            <th>Ghi chú</th>
            <th>Trạng thái</th>
            <th>Sửa</th>
            <th>Xóa</th>
        </tr>
        <tbody>
        <tr th:each="b,iterStat: ${branch}">
            <!--tao so thu tu-->
            <td th:text="${iterStat.count}"></td>

            <td th:text="${b.code}"></td>
            <td th:text="${b.name}"></td>
            <td th:text="${b.note}"></td>
            <td th:text="${b.active}"></td>
            <td><a th:href="@{/admin/branch/{id}/edit(id=${b.id})}">Sửa</a></td>
            </td>
            <td><a th:href="@{/admin/branch/{id}/delete(id=${b.id})}">Xóa</a></td>
            </td>
        </tr>
        </tbody>
    </table>
</th:block>
</body>
</html>