<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <section layout:fragment="content">
        <h2>Biểu đồ thống kê</h2>
        <img src="https://images.ctfassets.net/fevtq3bap7tj/10mfqdtuYcCy6IM8GYqQ68/e8c36d9b14a1ba2caf62da47dfbf7cf2/Playground__Chart_Gallery__OG_Image.png" alt=""
        class="img-fluid">
    </section>
</body>
</html>