<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/admin/certificate/save}"
      th:object="${certificate}"
      method="post"
      novalidate="novalidate">

    <input type="hidden" th:field="*{id}"/>

    <br>
    <div>
        <label>Tên</label>
        <input type="text" th:field="*{name}"/>
    </div>

    <br>
    <div>
        <label>Nơi cấp</label>
        <input type="text" th:field="*{issuedBy}"/>
    </div>

    <br>
    <div>
        <label>Ngày cấp</label>
        <input type="date" th:field="*{issuedDate}"/>
    </div>

    <br>
    <div>
        <label>Hạn sử dụng</label>
        <input type="date" th:field="*{expiryDate}"/>
    </div>

    <br>
    <div>
        <label>Ghi chú</label>
        <input type="text" th:field="*{note}"/>
    </div>

    <br>
    <div>
        <label>Mã người sở hữu</label>
        <select th:field="*{employee.id}">
            <option th:each="list : ${listEmployee}"
                    th:value="${list.id}"
                    th:utext="${list.name}"/>
        </select>

    </div>

    <br>
    <button type="submit">Save</button>
</form>
</body>
</html>