<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user_layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Khen thưởng & Kỷ luật trong tháng</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>Ngày</th>
                            <th>Lý do</th>
                            <th>Hình thức</th>
                            <th>Số tiền</th>
                            <th>Ghi chú</th>
                            </thead>
                            <tbody>
                            <tr th:each=" a : ${achievements}">
                                <td th:text="${a.applyDate}"></td>
                                <td th:text="${a.reason}"></td>
                                <td th:if="${a.type}">Khen thưởng</td>
                                <td th:if="!${a.type}">Kỷ luật</td>
                                <td th:text="${a.amount}"></td>
                                <td th:text="${a.note}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>