<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      layout:decorator="~{layoutdemo}">
<head>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>


<div layout:fragment="content" class="container">
    lkasdjflksajdflksajdlf
    <!--<p>-->
    <!--<span sec:authorize="isAuthenticated()" style="display: inline-block;">-->
    <!--Chào mừng nhân viên:  <span sec:authentication="name"></span>-->
    <!--</span>-->
    <!--&lt;!&ndash;</p>&ndash;&gt;-->
    <!--Chào mừng nhân viên : <span th:text="${code}"></span> - đăng nhập thành công !-->
    <!--<div>-->
        <!--<div>-->
            <!--<a th:href="@{/employee/{username}/profile(username=${code})}">Thông tin cá nhân</a>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a th:href="@{/employee/{username}/salary(username=${code})}">Lương</a>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a th:href="@{/employee/{username}/dayoff(username=${code})}">Xin nghỉ phép</a>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a th:href="@{/logout}">Đăng xuất</a>-->
        <!--</div>-->
    <!--</div>-->
</div>
</body>
</html>