<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{us_layout}">
<head>
    <title>Sửa thông tin cá nhân</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-user">
                <div class="image">
                    <img th:src="@{/img/damir-bosnjak.jpg}">
                </div>
                <div class="card-body">
                    <div class="author">
                        <a href="#">
                            <img class="avatar border-gray" th:src="@{/img/ha.jpg}">
                            <h5 class="title">Đỗ Hoàng Việt Hà</h5>
                        </a>
                        <p class="description">
                            @goldenBEE
                        </p>
                    </div>
                    <p class="description text-center">
                        "Phương châm sống của tớ
                        <br> Tháng làm 50 triệu
                        <br> Tối về ra Trần Duy Hưng"
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">Thay đổi thông tin cá nhân</h5>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/employee/save}" th:object="${profile}" method="post"
                          novalidate="novalidate">
                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{businessName}"/>
                        <input type="hidden" th:field="*{password}"/>
                        <input type="hidden" th:field="*{employeeName}"/>
                        <input type="hidden" th:field="*{avatar}"/>
                        <input type="hidden" th:field="*{department.id}"/>
                        <input type="hidden" th:field="*{identityNumber}"/>
                        <input type="hidden" th:field="*{gender}"/>
                        <input type="hidden" th:field="*{nationality}"/>
                        <input type="hidden" th:field="*{dateOfBirth}"/>
                        <input type="hidden" th:field="*{emergencyContact}"/>
                        <input type="hidden" th:field="*{joinedDate}"/>
                        <input type="hidden" th:field="*{admin}"/>
                        <input type="hidden" th:field="*{active}"/>
                        <input type="hidden" th:field="*{zipPostalCode}"/>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Địa chỉ 1</label>
                                    <input class="form-control" type="text" th:field="*{addressStreet1}"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Địa chỉ 2</label>
                                    <input class="form-control" type="text" th:field="*{addressStreet2}"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Thành phố</label>
                                    <input class="form-control" type="text" th:field="*{city}"/>
                                </div>
                            </div>
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Tỉnh</label>
                                    <input class="form-control" type="text" th:field="*{stateProvince}"/>
                                </div>
                            </div>
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Thành phố</label>
                                    <input class="form-control" type="text" th:field="*{country}"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Số điện thoại nhà</label>
                                    <input class="form-control" type="text" th:field="*{homeTelephone}"/>
                                </div>
                            </div>
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Số điện thoại cá nhân</label>
                                    <input class="form-control" type="text" th:field="*{personalMobile}"/>
                                </div>
                            </div>
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Số điện thoại làm việc</label>
                                    <input class="form-control" type="text" th:field="*{workTelephone}"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Email làm việc</label>
                                    <input class="form-control" type="text" th:field="*{workEmail}"/>
                                </div>
                            </div>
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Email cá nhân</label>
                                    <input class="form-control" type="text" th:field="*{personalEmail}"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Trạng thái hôn nhân</label>
                                    <input class="form-control" type="text" th:field="*{maritalStatus}"/>
                                    <!--<select th:field="*{maritalStatus}">-->
                                    <!--<option th:each="maritalStatus : ${T(com.nc.hrm.model.enums.MaritalStatus).values()}"-->
                                    <!--th:value="${maritalStatus.value}"-->
                                    <!--th:text="${maritalStatus.text}">-->
                                    <!--</option>-->
                                    <!--</select>-->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button type="submit" class="btn btn-primary btn-round">Xác nhận</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>