<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Mã nhân viên</th>
            <th th:text="${profile.code}"></th>
        </tr>

        <tr>
            <th>Họ và tên</th>
            <th th:text="${profile.name}"></th>
        </tr>

        <tr>
            <th>Căn cước công dân(CMTND)</th>
            <th th:text="${profile.identityNumber}"></th>
        </tr>

        <tr>
            <th>Giới tính</th>
            <th th:if="${profile.gender == true}">Nam</th>
            <th th:if="${profile.gender == false}">N</th>
        </tr>

        <tr>
            <th>Quốc tịch</th>
            <th th:text="${profile.nationality}"></th>
        </tr>

        <tr>
            <th>Năm sinh</th>
            <th th:text="${profile.dateOfBirth}"></th>
        </tr>

        <tr>
            <th>Tình trạng hôn nhân</th>
            <th th:text="${profile.maritalStatus}"></th>
        </tr>

        <tr>
            <th>Địa chỉ 1</th>
            <th th:text="${profile.addressStreet1}"></th>
        </tr>

        <tr>
            <th>Địa chỉ 2</th>
            <th th:text="${profile.addressStreet2}"></th>
        </tr>

        <tr>
            <th>Thành phố</th>
            <th th:text="${profile.city}"></th>
        </tr>

        <tr>
            <th>Tỉnh</th>
            <th th:text="${profile.stateProvince}"></th>
        </tr>

        <tr>
            <th>Mã vùng</th>
            <th th:text="${profile.zipPostalCode}"></th>
        </tr>

        <tr>
            <th>Số điện thoại nhà</th>
            <th th:text="${profile.homeTelephone}"></th>
        </tr>

        <tr>
            <th>Số điện thoại cá nhân</th>
            <th th:text="${profile.personalMobile}"></th>
        </tr>

        <tr>
            <th>Số điện thoại làm việc</th>
            <th th:text="${profile.workTelephone}"></th>
        </tr>

        <tr>
            <th>Email làm việc</th>
            <th th:text="${profile.workEmail}"></th>
        </tr>

        <tr>
            <th>Email cá nhân</th>
            <th th:text="${profile.personalEmail}"></th>
        </tr>

        <tr>
            <th>Ngày vào công ty</th>
            <th th:text="${profile.joinedDate}"></th>
        </tr>
    </table>

    <a th:href="@{/employee/{username}/editprofile(username=${profile.code})}">Sửa thông tin cá nhân</a>
</body>
</html>